<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div>
	<img src="http://laughingsquid.com/wp-content/uploads/calteasecal.gif" style="height: 200px; float: right;">
	<h1>The epic comic store</h1>
	<div style="clear:both;">
</div>

<% @products.each do |product| %>
  <div class="entry">
    <%= image_tag(product.image_url) %>
    <h3><%= product.title %></h3>
    <%= sanitize(product.description) %>
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price) %></span>
      <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
    </div>
  </div>
<% end %>